* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: bold;
  src: url("./SoDoSans-Bold.49f6eaa3.ttf");
}

@font-face {
    font-family: semibold;
    src: url("./SoDoSans-SemiBold.6aebdeb6.ttf");
}

@font-face {
    font-family: regular;
    src: url("./SoDoSans-Regular.fb96a065.ttf");
}

.nav {
  height: 95px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.376);
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 23px;

}

.nav-left a {
  font-size: 14px;  
  font-family:semibold;
  text-decoration: none;
  color: black;
}

.nav-left a:hover{
    color: #01754A;
}

.nav-left img {
  height: 53px;
  margin-right: 30px;
}

.nav-right {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.nav-right button {  
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid black;
  gap: 20px;
}

#find{
    font-family: semibold;
    font-size: 14px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    color: black;
}

#find:hover{
    color: #01754A;
}

.nav-right img {
  height: 22px;
}

.half{
    display: flex;
    gap: 18px;
    margin-left: 30px;
}

#one{
  font-family: regular;
}

#one:hover{
    background-color: #E5E5E5;
}

#two{
    font-family: regular;
    background-color: black;
    color: #ffffff;
}

#two:hover{
    background-color: #4C4C4C;
}


.tag {
  display: flex;  
  justify-content: center;
  align-items: center;  
  height: 100px;
  position: relative;
  background-color: #31462f;
  font-size: 22px;
}
 .tag button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
 }

.top-tag{
    font-size: 19px;
    font-family: regular;
    color: white;
    margin-right: 20px;
}

#three {
    background-color: #31462f;
    color: white;
    width: 155px;
    height: 32px;
    border-radius: 28px;
    white-space: nowrap;
    border: 2px solid white;
    font-size: 18px;
    padding-bottom: 30px;
    padding-right: -30px;
}

#three:hover{
    background-color: #01754A;
}

.tab1 { 
  display: flex;  
  width: 100%;
  height: 600px;
  margin-top: 33px;
  margin-bottom: 33px;
  background-color: #9e0025;
}

#img1, .block1{
    width: 50%;

}

.block1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 18vh;
    padding:3vh 10vh ;
    text-align: center;
}

#head1{
    display: flex;
    gap: 20px;
    font-size: 3.7vw;
    font-family: semibold;
    color: #ffffff;
}

#p1{
    margin-top:10px ;
    font-size: 23px;
    font-family: regular;
    padding: 0 20px;
    color: #ffffff;
}

.block1 button{
    margin-top: 22px;
    font-size: 15px;
    font-family: semibold;
    color: #00754A;
    padding: 7px 14px;
    background-color: #ffffff ;
    border-radius: 20px;
    border-color: transparent;
    gap: 20px;
}

.block1 button:hover{
    background-color: #EED1D4;
}



.tab2{
    background-color: #016241;
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 33px;
    margin-top: 33px;
}

.block2, #img2{
 width: 50%;
}

.block2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 13vh;
    padding:3vh 10vh ;
    text-align: center;
}

#head2{
    display: flex;
    gap: 20px;
    font-size: 3.6vw;
    font-family: semibold;
    color: #ffffff;
    padding: 0 20px ;
}

#p2{
    margin-top:10px ;
    font-size: 23px;
    font-family: regular;
    padding: 0 30px;
    color: #ffffff;
}

.block2 button{
    margin-top: 22px;
    font-size: 15px;
    font-family: semibold;
    color: #00754A;
    padding: 7px 14px;
    background-color: #ffffff ;
    border-radius: 20px;
    border-color: transparent;
    gap: 20px;
}

.block2 button:hover{
    background-color: #D1DFDA;
}


.tab3{
    background-color: #016241;
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 33px;
    
}

.block3, #img3{
    width: 50%;
}

.block3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 12vh;
    padding:3vh 10vh ;
    text-align: center;
}

#head3{
    display: flex;
    gap: 20px;
    font-size: 3.6vw;
    font-family: semibold;
    color: #ffffff;
    padding: 0 20px ;
}

#p3{
    margin-top:10px ;
    font-size: 23px;
    font-family: regular;
    padding: 0 30px;
    color: #ffffff;
}

.block3 button{
    margin-top: 22px;
    font-size: 15px;
    font-family: semibold;
    color: white;
    padding: 7px 14px;
    background-color: #016241 ;
    border-radius: 20px;
    border: 1px solid white;
    gap: 20px;
}

.block3 button:hover{
    background-color: #054f34;
}

.tab4{
    background-color: #AA1D38;
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 33px;
}

.block4, #img4{
    width: 50%;
}

.block4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 12vh;
    padding:3vh 10vh ;
    text-align: center;
}

#head4{
    display: flex;
    gap: 20px;
    font-size: 3.6vw;
    font-family: semibold;
    color: #ffffff;
    padding: 0 20px ;
}

#p4{
    margin-top:10px ;
    font-size: 23px;
    font-family: regular;
    padding: 0 30px;
    color: #ffffff;
}

.block4 button{
    margin-top: 22px;
    font-size: 15px;
    font-family: semibold;
    color: #00754A;
    padding: 7px 14px;
    background-color: #ffffff ;
    border-radius: 20px;
    border-color: transparent;
    gap: 20px;
}

.block4 button:hover{
    background-color: #D1DFDA;
}

.tab5{
    background-color: #F1F0E4;
    display: flex;
    width: 100%;
    height: 415px;
    margin-bottom: 33px;
}

.block5, #img5{
    width: 50%;
}

.block5{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 8vh;
    padding:3vh 10vh ;
    text-align: center;
}

#head5{
    display: flex;
    gap: 20px;
    font-size: 1.7vw;
    font-family: semibold;
    color: #32472F;
    padding: 0 20px ;
}

#p5{
    margin-top:20px ;
    margin-bottom: 13px;
    font-size: 20px;
    font-family: regular;
    padding: 0 10px;
    color: #32472F;
}

.block5 button{
    margin-top: 22px;
    font-size: 15px;
    font-family: semibold;
    color: #ffffff;
    padding: 7px 14px;
    background-color: #213c35 ;
    border-radius: 20px;
    border-color: transparent;
    gap: 20px;
}

.block5 button:hover{
    background-color: #354b43;
}


.data {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 210px;
    font-family: regular;
    font-size: 14px;
    border-bottom: 1px solid lightgrey;
    
}

.data p{
    width: 50%;
    line-height: 3.5vh;
}


.about {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    height: 450px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: regular;
    font-size: 16px;
    color: gray;
}

.about h2{
    font-size: 19px;
    color: black;
}

.about .box1 {
    line-height: 6.5vh;
    padding-left: 20px;
    padding-right: 80px;

}

.about .box2{
    line-height: 6.5vh;
    width: 210px;
}

.about .box3{
    line-height: 6.5vh;
    padding-left: 50px;
    padding-right: 20px;
    width: 260px;
}

.about .box4{
    line-height: 6.5vh;
    padding-right: 30px;
    background-color: e;
}

.about .box5{
    line-height: 6.5vh;
    padding-right: 20px;
    width: 230px;
}

.about .box1 ul{
    list-style: none;
}

.about .box2 ul{
    list-style: none;
    word-wrap: break-word;
}

.about .box3 ul{
    list-style: none;
    word-wrap: break-word;
}

.about .box4 ul{
    list-style: none;
    word-wrap: break-word;
}

.about .box5 ul{
    list-style: none;
    word-wrap: break-word;
}

.about ul:hover{
    color: black;
}

